[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/slack/vim-l9.git
